.service-item{
   width: 100%;
   max-width: 570px;
   padding: 0px 10px;
   margin-bottom: 50px;
   display: flex;
   align-items: center;
}
.service-item__content{
   margin-left: 20px;
}
.service-item__title{
   display: flex;
   align-items: center;
   color: var(--cofe);
   font-size: 24px;
   line-height: 1.5;
   margin-bottom: 8px;
}

.service-item__desc{
   color: rgba(85, 85, 85, 0.802);
   font-size: 16px;
   line-height: 1.5;
   word-spacing: 3px;
}
.service-item__title--before1::before{
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-right: 15px;
   background-color: lightgreen;
   border-radius: 50%;
   content: '';
}
.service-item__title--before2::before{
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-right: 15px;
   background-color: lightgreen;
   border-radius: 50%;
   content: '';
}
.service-item__title--before3::before{
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-right: 15px;
   background-color: lightgreen;
   border-radius: 50%;
   content: '';
}
.service-item__title--before4::before{
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-right: 15px;
   background-color: lightgreen;
   border-radius: 50%;
   content: '';
}