.carusel-wrapper {
   width: 100%;
   height: 120vh;

   /* background-image: url('../../Img/carousel-1.jpg'); */
}

.carusel__content::after {
   bottom: -1px;
   background: url(../../img/overlay-bottom.png);
   position: absolute;
   content: "";
   width: 100%;
   height: 15px;
   left: 0;
   z-index: 1;
}

.carusel__img {
   width: 100% !important;
   height: 100%;
   vertical-align: middle;
   object-fit: cover;
   border-style: none;
}

.carusel__content {
   height: 120vh;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(51, 33, 29, 0.7);
   z-index: 1;
   align-items: center !important;
   justify-content: center !important;
   flex-direction: column !important;
   display: flex !important;
   position: absolute;
   padding: 20px 0;
   color: var(--white);
   text-align: center;

}

.carusel__desc-1 {
   color: var(--yellow);
   font-size: 30px;
   margin-bottom: 5px;
}

.carusel__desc-2 {
   color: var(--white);
   font-size: 120px;
   margin-bottom: 5px;
}

.carusel__desc-3 {
   color: var(--white);
   font-size: 35px;

}


.carusel__left-icon {
   color: var(--white);
   position: absolute;
   left: 100px;
   z-index: 1;
   font-size: 30px;
   cursor: pointer;
}

.carusel__right-icon {
   color: var(--white);
   position: absolute;
   right: 100px;
   z-index: 1;
   font-size: 30px;
   cursor: pointer;
}