/* NAvbar Start */
.navbar{
    width: 100%;
    height: 110px;
    /* background-color: rgb(82, 82, 82); */
    padding: 0 80px;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: var(--white);
    font-size: 50px;
    
}

.navbar ul li{
    display: flex;
    gap: 30px;
}

.navbar ul li a{
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li a:hover{
    color: var(--yellow);
   
}

.active{
    color: var(--yellow) !important;
}


/* Navbar Start */

