*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;}

a{
    text-decoration: dashed;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: var(--live-bg);
}

:root{
    --white:white;
    --yellow:#DA9F5B;
    --cofe:#33211D;
    --balck: black;
    --live-bg:#FFFBF2;
    
}